
cj-exec {
    border: 1px solid gray;
    display: block;
    padding: 10px;
    background-color: lightskyblue;

}

cj-exec:before {
    content: "See it in action...";
    border-bottom: 1px solid gray;
    display: block;
    margin-bottom: 10px;
}